.brand-animation {
    animation-name: brandAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

@keyframes brandAnimation{
    0% {
      color:white;
    }
    25% {
      color: black;
    }
    50% {
      color: green;
    }
    75% {
      color: red;
    }
    100% {
      color:white;
    }
  }